# Week 3 Part 1

In [2]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd 
import csv

### Get source webpage and initialize beautiful soup and csv_writer object

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

In [23]:
postal_code = []
borough = []
neighbourhood = []


soup.find('table').find_all('tr')
soup.find('table').find_all('tr')
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [24]:
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells)>0):
        postal_code.append(cells[0].text)
        borough.append(cells[1].text)
        neighbourhood.append(cells[2].text.rstrip('\n'))

In [25]:
len(postal_code)

287

In [26]:
len(borough)

287

In [27]:
len(neighbourhood)

287

In [44]:
df_to = pd.DataFrame({'postal_code': postal_code, 'borough': borough, 'neighbourhood':neighbourhood})

In [46]:
df_to.head()

  postal_code           borough     neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

### Cleaning the dateframe

In [47]:
## 'Ignore cells with a borough that is Not Assigned'
df_to = df_to[df_to.borough != 'Not assigned'].reset_index(drop=True)
df_to.head()

  postal_code           borough     neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M6A        North York  Lawrence Heights
4         M6A        North York    Lawrence Manor

In [48]:
## group neighbs in same brgh 

df_to_group = df_to.groupby(["postal_code", "borough"], as_index=False).agg(lambda x: ", ".join(x))
df_to_group.head()

  postal_code      borough                           neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [49]:
## if cell has a borough 'not assigned' neighbourhood then it will be the same as a borough
df_to_group[df_to_group.neighbourhood == 'Not assigned']

   postal_code       borough neighbourhood
93         M9A  Queen's Park  Not assigned

In [51]:
for index, row in df_to_group.iterrows():
    if row['neighbourhood'] == 'Not assigned':
        row['neighbourhood'] = row['borough']
        
df_to_group.head()

  postal_code      borough                           neighbourhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

#### Check shape of dataframe

In [54]:
df_to_group.shape

(103, 3)

# Week 3 Part 2

In [59]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [60]:
df_data_3.rename(columns={'Postal Code':'postal_code'},inplace=True)
df_data_3.head()

  postal_code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [64]:
# merge the two tables 
df_to_coords = df_to_group.merge(df_data_3,on='postal_code',how='left')

In [65]:
df_to_coords.head()

,postal_code,borough,neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [66]:
df_to_coords.shape

(103, 5)